<div class="main">
    <!-- first section - clock -->
    <section class="section-1">
        <div id='loading'>
            <h1> What Angle Is It? </h1>
            <p>Loading...</p>
        </div>
        <div class="clock">
            <!-- The ordering works like a stack. The first item will be at the bottom. -->
            <img src="/images/hour.v2.svg" class="clockhand hourhand"></img>
            <img src="/images/minute.v2.svg" class="clockhand minutehand"></img>
            <img src="/images/second.v2.svg" class="clockhand secondhand"></img>
        </div>
        <div class="hour-minute indicators">
            <h2 class="title"> Hour & Minute </h2>
            <hr width="98px" color="#222222">
            <h2 class="hm-content"></h2>
        </div>
        <div class="minute-second indicators">
            <h2 class="title"> Minute & Second </h2>
            <hr width="106px" color="#222222">
            <h2 class="ms-content"></h2>
        </div>
        <div class="hour-second indicators">
            <h2 class="title"> Hour & Second </h2>
            <hr width="106px" color="#222222">
            <h2 class="hs-content"></h2>
        </div>
        <!--//
            With the use of the onepage-scroll plugin, the link will move to the next section.
            For more info on onepage-scroll, visit https://github.com/peachananr/onepage-scroll.
        //-->
        <div class="bottom-link about">
            <a href="/#2" class="about hvr-wobble-vertical">about</a>
        </div>
    </section>
    <!-- second section - about -->
    <section class="section-2">
        <div class="page_container">
            <h1> about </h1>
            <p class="heading">This little app was inspired by <a href="http://whatcolourisit.scn9a.org/">>>What Color Is It?<< </a>.
                <p class="ex"> The way to figure out the angle between the clock hands is to realize that you can independently calculate the angle of each clock hand relative to 12 o’clock. By taking the difference of any two angles, you can get the angle in between.
                    <br>
                    <br> We break up the angles into three parts: the second, minute, and hour hands. It takes 60 seconds for the second hand to complete 360 degrees, 3600 seconds for the minute hand to complete 360 degrees, and 43200 seconds for the hour hand to complete 360 degrees. This means that the second hand moves \( \frac{360 \space degrees}{60 \space sec} = \) 6 degrees per second. By the same calculation, the minute hand moves 0.1 degrees per second, and the hour hand, 0.00833 degrees per second. For every minute, the second hand completes 360 degrees, the minute hand completes 6 degrees, and the hour hand completes 0.5 degrees. Likewise, every hour the hands complete 21,600, 360, and 30 degrees respectively.
                    <br>
                    <br> With this in mind, the angle of the hour hand relative to 12 o'clock is 30 degrees times the hour plus some offset that is dependent on the minute and second. But we've already found out what that offset was; we add 0.5 degrees for every minute and 0.00833 degrees for every second that had passed. So for the hour hand, the formula is \( 30 * H + 0.5 * M + .00833 * S \). Likewise, the minute hand is \( 6 * M + 0.1 * S \) (the minute hand doesn't depend on the hour hand for an offset) and the second hand is \( 6 * S\).
                    <br>
                    <br> What about the angle in between? Simply subtract one from another. $$ 30 * H + 0.5 * M + .00833 * S - (6 * M + 0.1 * S) = 30 * H - 5.5 * M - .091667 * S $$ One case we will need to be careful about is when the time is 12 o'clock. We can fix this by using the modulo operator, setting \( H\ mod\ 12 \).</p>
        </div>
        <div class="bottom-link more">
            <a href="/#3" class="more hvr-wobble-vertical">more</a>
        </div>
        <div class="footer">
            &copy; 2016 Created by Michael Lee
        </div>
    </section>
    <!-- third section - more info -->
    <section class="section-3">
        <div class="page_container">
            <p class="ex">
                But there is a slight ambiguity. There are angles that we can choose, ones outside \( \pm \)180 degrees and ones inside \( \pm \)180 degrees. If we want to always receive the small angle in between, how can we handle that? A little bit of trivial: that particular angle is called the conjugate angle. Sounds familiar right?
                <br>
                <br> If we look at the complex conjugate of Euler’s famous formula, we have $$Z = e^{ix} = cos(x) + i sin(x) \qquad \overline{Z} = e^{-ix} = cos(x) - isin(x).$$ Let \(x = 2 \pi - y\). We have then $$\overline{Z} = e ^{- i ( 2\pi - y)} = e ^{-2\pi i} * e ^{iy} = cos(2\pi - y) - i(sin(2\pi - y))$$ Z is cyclical such that for \(n \in \mathbb{Z} \) $$ e ^{-in\pi} = \begin{cases} \space \space \space 1,& \text{n is even} \\ -1, & \text{n is odd} \end{cases} $$ With this knowledge and the trigonometric identities $$cos(x) = cos(2\pi - y) = cos(-y) = cos(y) \qquad sin(x) = sin(2\pi - y) = sin(-y) = - sin(y) $$ we get \( e^{iy} = cos(y) + i sin (y) = e^{-ix} \) hence the etymology of the conjugate angle.
                <br>
                <br> Another way of looking at this is to have the complex number flipped over the real number line. The quadrants above the x-axis contains all the angles below 180 degrees and the quadrant below contains the angles above 180 degrees, given we're looking at \(0 \leq x \leq 2\pi\). </p>
        </div>
        <div class="bottom-link info">
            <a href="/#4" class="info hvr-wobble-vertical">info</a>
        </div>
        <div class="footer footer-dark-text">
            &copy; 2016 Created by Michael Lee
        </div>
    </section>
    <!-- fourth section - visit my website -->
    <section class="section-4">
        <div class="page_container">
            <h1>Visit my website at <a href="http://www.corollari.com" class="homepage-link">www.corollari.com</a>.</h1>
        </div>
        <div class="bottom-link top">
            <a href="/#1" class="top hvr-wobble-vertical">back to top</a>
        </div>
        <div class="footer">
            &copy; 2016 Created by Michael Lee
        </div>
    </section>
</div>
