<div class="main">
    <section class="section-1">
        <div id='loading'>
            <h1> What Angle Is It? </h1>
            <p>Loading...
                <p>
        </div>
        <div class="clock">
            <img src="/images/second.svg" class="clockhand secondhand"></img>
            <img src="/images/minute.svg" class="clockhand minutehand"></img>
            <img src="/images/hour.svg" class="clockhand hourhand"></img>
        </div>
        <div class="hour-minute indicators">
            <h2 class="title"> Hour & Minute </h2>
            <hr width="98px" color="#222222">
            <h2 class="hm-content"></h2>
        </div>
        <div class="minute-second indicators">
            <h2 class="title"> Minute & Second </h2>
            <hr width="106px" color="#222222">
            <h2 class="ms-content"></h2>
        </div>
        <div class="hour-second indicators">
            <h2 class="title"> Hour & Second </h2>
            <hr width="106px" color="#222222">
            <h2 class="hs-content"></h2>
        </div>
        <div class="bottom-link about">
            <a href="/#2" class="about hvr-wobble-vertical">about</a>
        </div>
    </section>
    <section class="section-2">
        <div class="page_container">
            <h1> about </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae nunc nec neque sodales venenatis. Sed faucibus aliquam bibendum. Cras eu finibus elit. Cras sed orci vulputate, tristique libero sed, sollicitudin ligula. In aliquam egestas ultricies. Proin pretium elementum dui, at euismod urna tempus eu. Nunc vestibulum nisi in justo malesuada, at rhoncus eros laoreet. Donec vel purus at dui commodo luctus. Etiam molestie consectetur odio ut scelerisque. Proin leo justo, varius a condimentum eu, eleifend at mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis in risus non nisl consectetur condimentum. Fusce eget lobortis metus. Ut quis tempus dolor. Aenean hendrerit velit vestibulum nulla elementum iaculis. Cras id mauris lacinia, pulvinar justo vitae, finibus lectus. Nulla vel turpis nisi. Quisque convallis, diam sed hendrerit porta, ex dolor interdum urna, vel condimentum odio ante quis purus. Curabitur semper lacus turpis, nec vestibulum neque semper non. Sed sagittis vitae est ut porta. Vestibulum fermentum id massa a ornare. Praesent velit ipsum, blandit a quam vel, bibendum pharetra ex. Mauris tincidunt semper tellus sit amet mattis. Sed rutrum dui erat. Curabitur efficitur luctus urna, euismod egestas ipsum dignissim et. Nunc euismod mi ut nibh bibendum, id dictum lacus sagittis. Nullam quis auctor lacus. Pellentesque congue nunc sapien, sed pellentesque augue iaculis ut. Phasellus aliquam purus et diam malesuada ullamcorper. Donec feugiat augue quis sapien tristique commodo. Vestibulum lacinia posuere libero, posuere fermentum elit scelerisque vel. Nullam vel vestibulum est, ultrices sagittis velit. Mauris in neque nisl.</p>
        </div>
        <div class="bottom-link info">
            <a href="/#3" class="info hvr-wobble-vertical">Info</a>
        </div>
    </section>
    <section class="section-3">
        <div class="page_container">
            <h1>Visit my website at <a href="http://www.corollari.com" class="homepage-link">www.corollari.com</a>.</h1>
        </div>
        <div class="bottom-link top">
            <a href="/#3" class="top hvr-wobble-vertical">back to top</a>
        </div>
    </section>
</div>
