<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/reset.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/onepage-scroll.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src='/javascripts/jquery.onepage-scroll.js'></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>

<body>
    <div class="wrapper">
        {{{body}}}
    </div>
</body>

</html>
